/*
============================================
; Title:  contact.component.css
; Author: Professor Krasso
; Date: 01 April 2022
; Modified By: K. Hall
; Description: Styling file for the contact component.
;===========================================
*/

h1 {
  font-weight: 400;
  font-family: Roboto;
  font-size: 34px;
 }
.photo-container {
  margin-top: 5%;
  margin-left: 8%;
}
.about-text-container {
  margin-left: 1%;
  margin-top: 7%;
}
.caption {
  margin-left: 53px;
}
.fx-container {
  height: 1210px;
  margin-left: 12%;
}
.contact-txt {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: .6px;
  line-height: 1.7;
  width: 80%;
  margin-top:25px;
  margin-left: -20%;
  color: black;
}
mat-icon {
font-size: 42px;
}

