<!--
    Title: contact.component.html
    Author: Professor Krasso
    Date: 11 March 2022
    Modified By: Keith Hall
    Description: HTML markup file for the contact component.
-->

<div fxLayout="row wrap" class="fx-container">
  <div fxFlex>
    <div fxLayout="column">
      <div class="photo-container">
        <img src="./assets/contact.png" height= "400" width= "475"/>
      </div>
      <div class="caption">
        <em>
          Photo by Cottonbro on <a class="attribution-link " href="https://www.pexels.com/search/Computer%20Repair/" target="_blank">Pixels</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex class="about-text-container">
    <h1>Contact Us</h1>
    <div fxFlex class="contact-txt">
      <div fxFlex style="margin-top:50.38px;margin-right:25px">
        <mat-card class="mat-elevation-z0">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary">navigation</mat-icon>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>505 Main street</p>
            <p>Omaha, Nebraska</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex style= "margin-top:50.38px; margin-left:-160px">
        <mat-card class="mat-elevation-z0">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary">phone</mat-icon>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>Direct: 555-555-5555</p>
            <p>Toll-free: 1-888-555-5555</p>
            <p>Fax: 555-555-5555</p>
          </mat-card-content>
        </mat-card>
        <br /><br /><br /><br />
     </div>
    </div>
  </div>
</div>

