/*
============================================
; Title:  not-found.component.css
; Author: Professor Krasso
; Date: 16 March 2022
; Modified By: K. Hall
; Description: Style sheet for not-found component.
;===========================================
*/

.not-found-container {
  margin-left: 22%;
  margin-top: 2%;
}
.return-link {
  margin-left:15%;
}

