<!--
    Title: about.component.html
    Author: Professor Krasso
    Date: 11 March 2022
    Modified By: Keith Hall
    Description: HTML markup file for the about component.
-->

<div fxLayout="row wrap" class="fx-container">
  <div fxFlex>
    <div class="photo-container">
      <img src="./assets/about.png" alt="Picture of our team" style="width:475;height:400px">
    </div>
      <div class="blue caption">
        <em>
          Photo by Cottonbro on <a class="attribution-link" href="https://www.pexels.com/search/Computer%20Repair/" target="_blank">Pixels</a>
        </em>
      </div>
  </div>

  <div fxFlex class="about-text-container">
    <h1>Our Team</h1>
    <p class="about-txt">
      Nodebucket is the flexible task management tool where individuals or groups can develop plans, collaborate on projects, organize assigned tasks, and
      visually track everyone's  progress and contributions. velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad
    </p>
  </div>
</div>

