<!--
    Title: about.component.html
    Author: Professor Krasso
    Date: 11 March 2022
    Modified By: Keith Hall
    Description: HTML markup file for the about component.
-->

<div fxLayout="row wrap" class="fx-container">
  <div fxFlex>
    <div class="photo-container">
      <img src="./assets/about.png" alt="Picture of our team" style="width:475;height:400px">
    </div>
      <div class="blue caption">
        <em>
          Photo by Cottonbro on <a class="attribution-link" href="https://www.pexels.com/search/Computer%20Repair/" target="_blank">Pixels</a>
        </em>
      </div>
  </div>

  <div fxFlex class="about-text-container">
    <h1>Our Team</h1>
    <p class="about-txt">
      Nodebucket is the flexible task management tool where individuals or groups can develop plans, collaborate on projects, organize assigned tasks, and visually track everyone's
      progress and contributions. At net we believe in the importance of completing goals and tasks on time. That's why we're dedicated to giving you the very best Task Management tools
      available, with a focus on dependability, customer service and uniqueness. Founded in 2022 by John Doe, Net has come a long way from its beginnings in Omaha Nebraska.
      When Net, Inc. first started out, John's passion for getting things done on time,  drove him to do intense research for Task Management tools that would help his collegues
      accomplish their tasks.  This gave him the impetus to turn hard work and inspiration into to a booming online business. We now serve customers all over the world, and are thrilled
      to be a part of this industry.
      We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us. <br><br>
      Sincerely,<br>
      John Doe  CEO, Founder
    </p>
  </div>
</div>

