<!--
    Title: base-layout.component.html
    Author: Professor Krasso
    Date: 25 March 2022
    Modified By: Keith Hall
    Description: Base layout html file for Nodebucket App.
-->

<div fxLayout="column">
  <nav fxFlex>

    <!-- navigation -->
    <mat-toolbar>

      <!-- navbar container -->
      <div class="navbar-container">

        <!-- logo -->
          <img class="logo-container" fxFlex="nogrow" src="../assets/nodebucketlogo.png" routerLink="/" width="200px" height="120px" id="logo">

        <!-- Nav links -->
        <div fxLayout="row" class="link-container">
        <div><button class="navbar-link" routerLink="/" mat-button>Home</button></div>
        <div><button class="navbar-link" routerLink="/about" mat-button>About</button></div>
        <div><button class="navbar-link" routerLink="/contact" mat-button>Contact</button></div>
        </div>
      </div>
      <div fxFlex></div>

      <!-- profile menu -->
      <div *ngIf="isLoggedIn" class="sign-out-container">
        <button
          mat-icon-button
          [matMenuTriggerFor]="profileMenu"
          aria-label="user profile menu"
        >
          <mat-icon color="primary" i class="material-icons md-36">perm_identity</mat-icon>
        </button>
        <mat-menu #profileMenu>
          <p style="padding: 10px;" class="menu">Signed in as
              <span
                style="font-weight: lighter;"
              >{{ userName }}</span
          >
      </p>
          <mat-divider></mat-divider>
          <button  mat-menu-item (click)="userConfig()" class="menu">
            <mat-icon class="menu">people</mat-icon>
            <span class="menu">User Configuration</span>
          </button>
          <button  mat-menu-item (click)="questionConfig()" class="menu">
            <mat-icon class="menu">security</mat-icon>
            <span class="menu">Security Question Configuration</span>
          </button>
          <button  mat-menu-item (click)="roleConfig()" class="menu">
            <mat-icon class="menu">security</mat-icon>
            <span class="menu">Role Configuration</span>
          </button>
          <button  mat-menu-item (click)="adminReport()">
            <mat-icon class="menu">poll</mat-icon>
            <span class="menu">Service Graph</span>
          </button>
          <button mat-menu-item (click)="signOut()" class="menu">
            <mat-icon class="menu">logout</mat-icon>
            <span class="menu">Sign-Out</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
