<!--
    Title: base-layout.component.html
    Author: Professor Krasso
    Date: 25 March 2022
    Modified By: Keith Hall
    Description: Base layout html file for Nodebucket App.
-->

<div fxLayout="column">
  <nav fxFlex>

    <!-- navigation -->
    <mat-toolbar>

      <!-- navbar container -->
      <div class="navbar-container">

        <!-- logo -->
          <img class="logo-container" fxFlex="nogrow" src="../assets/nodebucketlogo.png" routerLink="/" width="200px" height="120px" id="logo">

        <!-- Nav links -->
        <div fxLayout="row" class="link-container">
        <div><button class="navbar-link" routerLink="/" mat-button>Home</button></div>
        <div><button class="navbar-link" routerLink="/about" mat-button>About</button></div>
        <div><button class="navbar-link" routerLink="/contact" mat-button>Contact</button></div>
        </div>
      </div>
      <div fxFlex></div>

      <!-- profile menu -->
      <div *ngIf="isLoggedIn" class="sign-out-container">
        <button
          mat-icon-button
          [matMenuTriggerFor]="profileMenu"
          aria-label="user profile menu"
        >
          <mat-icon color="primary" i class="material-icons md-36">perm_identity</mat-icon>
        </button>

        <mat-menu #profileMenu="matMenu">
          <p style="padding: 10px">Signed in as {{ name }}</p>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="signOut()">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
