/*
============================================
; Title:  base-layout.component.css
; Author: Professor Krasso
; Date: 25 March 2022
; Modified By: K. Hall
; Description: Style sheet for the base-layout component.
;===========================================
*/

.logo-container {
  margin-left: -10px;
  margin-top: 30px;

}
.link-container {
  margin-left: 120%;
  margin-top: 40px;

}

.navbar-container {
  padding: 5px;
  margin-top: 35px;
}

.navbar-link {
  font-size: 16px;
  font-weight: lighter;
  font-family: Roboto;
}
.sign-out-container {

  margin-right: 5%;

}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  margin-left: 50%;
  margin-bottom: 1%;

}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
