/*
============================================
; Title:  styles.css
; Author: Professor Krasso
; Date: 16 March 2022
; Modified By: K. Hall
; Description: Global styles sheet for nodebucket app.
;===========================================
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@import './theme';

html, body {
  height: 100%;
  color: rgba(255, 255, 255, 0.7) !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

h1 {
  color: black;
}


.blue {
  color: #2196F3;
}

.green {
  color: #66BB6A;
}

.attribution-link {
  text-decoration: none;
  color: white;
}

.attribution-link:hover {
  text-decoration: underline;
}

.card-title-icon {
  text-align: center;

}

.card-title-icon, .mat-icon {
  font-size: 72px;
}

.align-center {
  text-align: center;;
}
